@font-face {
    font-family: 'Hanken Grotesk';
    src: url('/results-summary-component-main/assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #ECF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    background-color: #FFF;
    width: 736px;
    height: 512px;
    border-radius: 32px;
}

.card-left {
    width: 100%;
    border-radius: 32px;
    background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #CAC9FF;
    font-size: 24px;
    margin-top: 38px;
}

.score-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.text-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    position: absolute;
}

.score-1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 800;
    margin-bottom: -10px;
}

.score-2 {
    color: #CAC9FF;
    font-size: 18px;
    font-weight: 700; 
    opacity: 0.5168;
}

h2 {
    margin-top: 28px;
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
}

.description {
    width: 260px;
    color: #CAC9FF;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 14px;
}

.card-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

h3 {
    color: #303B59;
    font-size: 24px;
    font-weight: 700;
    margin-top: 38px;
    margin-bottom: 26px;
}

.reaction, .memory, .verbal, .visual {
    display: flex;
    margin-bottom: 16px;
    width: 320px;
    height: 56px;
    border-radius: 12px;
    justify-content: space-around;
    align-items: center;
}

.title {
    margin-left: 12px;
    font-size: 18px;
    font-weight: 500;
}

.sub-section {
    display: flex;
    margin-left: -10px;
    margin-right: 81px;
    align-items: center;
}

.reaction {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55;
}

.memory {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E;
}

.verbal {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F;
}

.visual {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6;
}

.reaction .title{
    color: #F55;
}

.memory .title{
    color: #FFB21E;
}

.verbal .title{
    color: #00BB8F;
}

.visual .title{
    color: #1125D6;
}

.reaction img, .memory img, .verbal img, .visual img {
    width: 20px;
}

.score {
    color: #303B59;
    font-size: 18px;
    font-weight: 700;
}

span {
    opacity: 0.5;
    margin-left: 3px;
}

button {
    margin-top: 41px;
    width: 320px;
    height: 56px;
    border-radius: 128px;
    border: none;
    background-color: #303B59;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
}

.attribution { 
    margin-top: 5px;
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}